/*PALETA DE COLORES*/
/*
COLOR PRINCIPAL: #0A1721 (SIMIL AZUL)
COLOR SECUNDARIO: #14455D
COLOR TERCIARIO: #EEF0DD 
DETALLES: #187A8C 

*/
body {
    background-color: #0A1721;
}

/* HEADER CSS*/

.img-size {
    height: 150px;
    width: auto;
    margin-left: 40px;
    margin-top: 40px;
}

.nav-item a {
    color: #eef0dd;
    font-family: "raleway";
    font-size: 22px;
}

.nav-item  a:hover {
    background-color: #187A8C;
    color: #eef0dd;
    scale: 1.1;
    border-radius: 0px 60px 0px 60px;
    transition: 0.9s;
}


/*FIN HEADER CSS*/

/*MAIN CSS*/

.title-text-adm {
    font-family: "raleway";
    color: #eef0dd;
    font-weight: 500;
    text-align: center;
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #187A8C;

    animation: typing 3s infinite alternate ;
}

@keyframes typing {
    from {width: 20%;}
    to {width: 0;}
}



.card-img {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.card-img p{
    color: #eef0dd ;
    font-weight: 700;
    font-family: "raleway";
    font-size: 26px;
}

.card-color {
    background-color: #187A8C;
}

.text-carousel {
    font-size: 20px;
}

.btn {
    background-color: #0A1721;
}

.grid-title {
    color:#eef0dd;
    align-items: center;
    justify-content: center;
}


.card-link:hover {
    background-color:#0A1721;
    border-radius: 0px 40px;
    transition: 0.9s;
    padding: 20px
}

.row {
    height: auto;
    margin: 15px 0px 15px 0px;
}

.col-12 {
    text-align: center;
    font-family: "raleway" ;
   
}


/*FIN MAIN CSS*/

/*FOOTER CSS*/

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #eef0dd;
    font-weight: 400;
    font-family: raleway;
    font-size: 20px;
    text-decoration: none;
    margin: 25px;
}

.brands{
    font-size: 35px;
    margin: 10px;
    color: #eef0dd;
    line-height: 60px;
}

.brands:hover {
    color: #187A8C;
    background-color: #eef0dd;
    border-radius: 15px 15px 15px 15px;
}


.card {
    color: #eef0dd;
}

/*ACERCA DE MI CSS*/

 .col1 {
    color:#eef0dd;
    font-family: "raleway";
    font-weight: 500;
    padding: 50px;
    font-size: 22px;
    border-top: 2px solid #eef0dd;
 }

 .img {
    width: 45rem;
    padding-top: 2px;
    border-radius: 0px 60px 0px 60px;
 }

 .col4 {
    color: #eef0dd;
    font-family: "raleway";
    font-weight: 500;
    font-size: 22px;
    padding-top: 70px;
    border-bottom: 2px solid #eef0dd;
 }


 .text-footer {
    font-size: 25px;
    color: #eef0dd;
    font-weight: 400;
 }

 .ft-container {
    padding: 5px;

 }








