.recursos-title {
    h1 {
        color: $thirdColor;
        text-align: center;
        justify-content: center;
}
}

.recursos-main-container {
    width: auto;
    background-color: $secondaryColor ;
    border-radius:  60px 60px;
    padding: 15px;
    margin: 20px;
    overflow-y: scroll;
    height: 500px;
    font-size: 18px;

    &::-webkit-scrollbar {
        width: 10px;

    &::-webkit-scrollbar-track {
        color: $thirdColor;
    }
    }
}
div {
    .card-body {
        .card-title{
            font-size: 20px;
        }
    }
}
.btn {
    background-color: $detailsColor;
    color: $thirdColor;
    font-size: 15px;

    &:hover {
        background-color: $secondaryColor;
        color:$thirdColor;
    }
}
.recursos-card {
    margin-left: 20px;
    margin-right: 20px;
    background-color: $detailsColor;
    color: $thirdColor;
    font-size: 20px;
    padding: 10px;
    border-radius: 60px;
    

        .blockquote-footer {
            color: $thirdColor;
        }
}
.recursos-hero {
        font-size: 20px;
        color: $thirdColor;
        margin: 20px;
        padding: 15px;

        .hero-text {
            text-align: center;
            justify-content: center;
        }
}